* {
    margin: 0;
}

html, body, #root, #container {
    display: flex;
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
}

#container {
    display: flex;
    flex-direction: column;
}

#workContainer{
    display: flex;
    height: 100%;
}

header {
    display: flex;
    height: 10.6mm;
    width: 100%;
    min-width: 282.9mm;
    background-color: midnightblue;
    color: white;

}

#menu {
    display: flex;
    align-content: center;
    width: 52.9mm;
    min-width: 52.9mm;
    padding: 2.7mm;
    background-color: royalblue;
    color: white;
    z-index: 2;
}

#menu:hover {
    cursor: pointer;
}

#menu-title {
    display: flex;
    flex: 1;

}

#menu-arrow > i {
    display: flex;
    border: solid black;
    border-width: 0 0.3mm 0.3mm 0;
    padding: 0.8mm;
    transform: rotate(45deg);
    height: 1.3mm;
    width: 1.3mm;
}

#top-bar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

#left {
    display: flex;
    flex: 1;
    margin-left: 4mm;
    margin-right: 4mm;
}

#right {
    display: flex;
}

#save,
#iad,
#export,
#zoom,
#account {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 7.9mm;
    width: auto;
    border-radius: 1mm;
    padding: auto 1.3mm auto 1.3mm;
    margin: auto 4mm;
}

#zoom {
    display: flex;
}

#zoom-minus,
#zoom-plus,
#zoom-percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5mm;
    width: 10mm;
    border: 0.3mm solid grey;
    color: white;
    border-radius: 10%;
}

#zoom-minus {

}

#zoom-plus {

}


#save {
    border: 0.3mm solid orange;
}

#save:hover,
#iad:hover,
#export:hover,
#account:hover {
    background-color: white;
    color: midnightblue;
}


#iad,
#export {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.5mm;
}

#iad {
    border: 0.3mm solid mediumblue;
}

#export {
    border: 0.3mm solid limegreen;
}

#account {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3mm solid black;
    width: 18.5mm;
    z-index: 2;
}

#categoriesTitlesBoard {
    width: 52.9mm;
    min-width: 52.9mm;
    padding: 2.7mm;
    background-color: midnightblue;
}

#BP_title {
    width: 100%;
    border-bottom: 0.3mm solid white;
    color: white;
    padding-bottom: 2mm;
    margin-bottom: 2mm;
}

#categoriesTitles {
    color: lightgrey;
}

.categoryTitle,
.subcategoryTitle {
    cursor: pointer;
    text-decoration: none;
    color: lightgray;
}

.subcategoriesTitles {
    display: flex;
    flex-direction: column;
    padding-left: 4mm;
    text-decoration: none;
}

.categoryTitle {
    font-size: 4.2mm;
}

.subcategoryTitle {
    font-size: 3.7mm;
}

.categoryTitle,
.subcategoryTitle {
    padding: 0 0 1.3mm 0;
}

.active {
    font-weight: bold;
    color: white;
}

#workBoard {
    display: flex;
    flex: 1;
    background-color: lightgrey;
}

#empty_workBoard_text {
    margin: auto auto;
}

#workPlace {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

#workDatamaning {
    display: flex;
    flex: 0;
}

#neuro_container {
    flex-direction: column;
    padding: 2.7mm;
    background-color: white;
    overflow-y: scroll;
}

#modal_close,
#neuro_close {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    float: right;
    height: 5.3mm;
    width: 5.3mm;
    border: 0.3mm solid black;
    border-radius: 50%;
    cursor: pointer;
}

#neuro {
    display: flex;
    flex-direction: column;
    width: 105.8mm;
    background-color: white;
}

#neuro_title {
    font-size: 7mm;
}

#neuro_score span {
    font-size: 6mm;
    color: mediumblue;
}

#neuro_about span {
    padding-left: 5.3mm;
}

.node_category .node_title {
    font-size: 6mm;
}

.node_subcategory .node_title {
    font-size: 5mm;
}

.node_category,
.node_subcategory {
    padding: 2.7mm 0;
}

.node_category .title {
    font-size: 10mm;
}

.node_values {
    display: flex;
    padding-top: 1.3mm;
}
.node_values > * {
    display: flex;
    padding-right: 1.3mm;
}

.node_score,
.node_weight {
    width: 13.2mm;
    margin-right: 1.3mm;
}

.node_values .editable {
    border: 0.3mm solid mediumblue;
}

.node_subcategory {
    padding-left: 5.3mm;
}

#editPlace {
    padding-top: 2.7mm;
    margin: 5mm;
}

#info > * {
    padding-bottom: 2.7mm;
}

#editPlace > div {
    display: flex;
    flex-direction: column;
}

#login-container,
#register-container {
    display: flex;
    flex-flow: column;
    width: 79.4mm;
    background-color: white;
    margin: auto;
    border: 0.5mm solid blue;
}

#login-container {
    height: 79.4mm;
}

#register-container {
    height: 105.8mm;
}

#login-title,
#register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15.9mm;
}

#login-container #login-body,
#register-container #register-body {
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#login-fields,
#register-fields {
    display: flex;
    flex-flow: column;
    width: 90%;
    justify-content: center;
}

#login-email,
#login-password,
#register-name,
#register-phone,
#register-email,
#register-password {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: flex-end;
}

#login-container input,
#login-container button,
#register-container input,
#register-container button {
    height: 7.9mm;
}

#loginButtonContainer,
#registerButtonContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

}

#turnRegister,
#turnLogin {
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    /*     border: 0.5mm solid grey; */
}

#turnRegister a,
#turnLogin a {
    color: blue;
    cursor: pointer;
}

textarea {
    width: 100%;
}

#workPlace {
    display: flex;
    flex: 1;
    padding: 0;
    background-color: whitesmoke;
    overflow-y: scroll;
}

.h10mm {
    height: 10mm;
    width: 100%;
}

.h25mm {
    height: 25mm;
    width: 100%;
}

.company_title {
    font-size: 20mm;
    text-align: center;
    height: 48mm;
}

.tag-text-center {
    font-style: italic;
    text-align: center;
    height: 4mm;
}

.date-input-center {
    text-align: center;
    height: 4mm;
}

.text-center {
    text-align: center;
    height:50mm;
}

.text {
    height: 55mm;
    margin-top: 5mm;
}

.editable_div {
    background-color: rgba(0, 0, 0, 0.1);
}

.a4_category_title {
    font-size: 15mm;
    margin-top: 5mm;
}

.a4_subcategory_title {
    font-size: 10mm;
    margin-top: 5mm;
}

.a4_field_title {
    font-size: 7mm;
    margin-top: 5mm;
}

.chart {
    margin-top: 5mm;
}

.a4 {
    display: flex;
    flex-direction: column;
    width: 210mm;
    height: 290mm;
    min-height: min-content;
    background-color: white;
    /*border: 1mm #D3D3D3 solid;*/
    zoom: 100%;
    margin: 5mm auto;
    box-shadow: 1mm 1mm 5mm rgba(0, 0, 0, 0.5);
}

.a4 > * {
    margin: 0 10mm;
}

.a4 #title {
    display: flex;
    width: 100%;
    height: 10%;
    color: white;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.a4 .subcategory {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 10mm;
}

#modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

#modal_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 52.9mm;*/
    width: 105.8mm;
    padding: 2.7mm;
    background-color: white;
    border: 0.5mm solid blue;
}

#modal_title {
    margin: 2.7mm 0 8mm;
}

#create_BP_field {
    width: 98%;
    border: 0.3mm solid limegreen;
    border-radius: 1mm;
    color: midnightblue;
    resize: none;
    overflow: auto;
}

#go_to_create_new_BP_btn,
#create_BP_btn {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 7.9mm;
    width: 26.5mm;
    padding: 0 1.3mm;
    border: 0.3mm solid limegreen;
    border-radius: 1mm;
    color: midnightblue;
    background-color: lightgreen;
    cursor: pointer;
}

#create_BP_btn {
    margin: 8mm 0 8mm;
}

#go_to_create_new_BP_btn {
    margin: 10.6mm 10.6mm 0 10.6mm;
}

#go_to_create_new_BP_btn:hover {
    background-color: white;
}

#create_BP_btn:hover {
    background-color: white;
}

#work_modal {
    position: fixed;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

#work_modal_container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
}

#left_work_modal_container {
    display: flex;
    align-content: center;
    width: 52.9mm;
    padding: 2.7mm;
}

#right_work_modal_container {
    display: flex;
    flex: 1;
}

#back_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.9mm;
    width: 100%;
    margin: 7.9mm;
    color: midnightblue;
    border-radius: 1mm;
    border: 0.3mm solid blue;
    background-color: lightblue;
    cursor: pointer;
}

#back_btn:hover {
    color: midnightblue;
    background-color: white;
}

#user_existed_BPs_list {
    display: flex;
    flex-direction: column;
    height: 7.9mm;
    width: 100%;
    margin: 10.6mm 0 0 10.6mm;
    color: midnightblue;
}

#user_BPs_title, #user_account_title {
    margin: 0;
}

.user_BP_title {
    display: flex;
    align-items: center;
    height: 7.9mm;
    font-size: 5.3mm;
    margin: 10.6mm 0 0 0;
    cursor: pointer;
}

.user_BP_title:hover {
    text-decoration: underline;
    color: blue;
}

#user_account_setting {
    margin: 10.6mm 10.6mm 0 10.6mm;
}

.user_data {
    margin: 5.3mm 0 0 0;
}

.user_data_value {
    border: 0.3mm solid lightgrey;
}

table {
    width: 100%;
    font-size: 3.7mm;
    margin-top: 5mm;
    border-collapse: collapse;
}

table, th, td {
    border: 0.3mm solid black;
}

td input {
    height: inherit;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.headCell {
    font-weight: bold;
}
